files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_rake_db_create.sh":
     mode: "000755"
     owner: root
     group: root
     content: | 
        #!/usr/bin/env bash
        set -xe

        EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
        EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
        EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
        EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

        . $EB_SUPPORT_DIR/envvars

        PRE_RAKE_TASK="db:drop"
        RAKE_TASK="db:create"

        . $EB_SCRIPT_DIR/use-app-ruby.sh

        cd $EB_APP_STAGING_DIR

        if su -s /bin/bash -c "bundle exec $EB_SCRIPT_DIR/check-for-rake-task.rb $PRE_RAKE_TASK" $EB_APP_USER && su -s /bin/bash -c "bundle exec $EB_SCRIPT_DIR/check-for-rake-task.rb $RAKE_TASK" $EB_APP_USER; then
                if [ "$SKIP_RAILS_DB_CREATE" = "false" ]; then
                        su -s /bin/bash -c "leader_only bundle exec rails db:drop db:create" $EB_APP_USER
                else
                        echo "Skipping rake db:drop db:create (RUN_DB_CREATE=false)."
                fi
        else
                echo "Either no $PRE_RAKE_TASK or $RAKE_TASK task in Rakefile, skipping creating the database."
        fi
