files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_rake_db_migrate.sh":
     mode: "000755"
     owner: root
     group: root
     content: | 
        #!/usr/bin/env bash
        set -xe

        EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
        EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
        EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
        EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

        . $EB_SUPPORT_DIR/envvars

        RAKE_TASK="db:migrate"

        . $EB_SCRIPT_DIR/use-app-ruby.sh

        cd $EB_APP_STAGING_DIR

        if su -s /bin/bash -c "bundle exec $EB_SCRIPT_DIR/check-for-rake-task.rb $RAKE_TASK" $EB_APP_USER; then
                if [ "$SKIP_RAILS_MIGRATIONS" = "true" ]; then
                        su -s /bin/bash -c "leader_only bundle exec rails db:migrate" $EB_APP_USER
                else
                        echo "Skipping rake db:migrate (RUN_DB_MIGRATE=false)."
                fi
        else
                echo "No $RAKE_TASK task in Rakefile, skipping migrating tables in the database."
        fi
