files:
  "/opt/elasticbeanstalk/support/conf/pumaconf.rb":
    mode: "000644"
    owner: root
    group: root
    content: |
      directory '/var/app/current'
      threads_count = Integer(ENV['RAILS_MAX_THREADS'] || 5)
      threads threads_count, threads_count
      workers Integer(ENV['WEB_CONCURRENCY'] || 2)
      preload_app!
      on_worker_boot do
          ActiveRecord::Base.establish_connection
      end
      bind 'unix:///var/run/puma/my_app.sock'
      pidfile '/var/run/puma/puma.pid'
      stdout_redirect '/var/log/puma/puma.log', '/var/log/puma/puma.log', true
      daemonize false
